body{
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     height: 100vh;
     align-items: center;
     background: linear-gradient(lightseagreen,lightcoral);
}

.slider-container{
     position: relative;
     height: 300px;
     width: 500px;
     overflow: hidden;
     border-radius: 10px;
    box-shadow: 2px 4px 9px rgba(0, 2px, 4px, 0.7);
}

.img-container{
     display: flex;
     transition:transform 0.4s;
     /* transform: translate(-500px); */
}

.btn{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 34px;
     cursor: pointer;
 
}
.prev{
     left: 20px;
}
.next{
     right: 20px;
}
.btn:hover{
     background-color: rgb(239, 224, 194);
     border-radius: 50%;
}

@media screen and (max-width: 480px) {

     .slider-container{
          position: relative;
          height: 300px;
          width: 380px;
          
     }
   }